<!DOCTYPE html>
<html ng-app="basic">
<head>
	<title>Angular JS</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<input type="text" ng-model="task"/>
		{{ task }}


	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="src/index.js"></script>
</body>
</html>