.side-bar {
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 999;
  background: rgba(212, 72, 36, 0.35);
}

.side-bar .links {
	padding-left: 0px;
	margin-top: 135px;
} 

.side-bar li {
	list-style: none;
}

.sidebar-links {
	background: #dd6f42;
  color: #fff;
  padding: 18px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  border-radius: 5px;
  width: 150px;
}
.sidebar-links:hover {
	color: #dd6f42;
	background: #fff;
	border: 1px solid #dd6f42;
}