.product-item {
  height: 350px;
  border: 1px solid rgba(128, 128, 128, 0.41);
  padding: 15px;
  display: inline-block
}

.item-container {
	margin-bottom: 10px;
}

.product-item h3 { 
	font-size: 18px;
}

.product-image {
	height: 150px;
	width: 130px;
}

/* ==================== CART =============== */
.qty {
	width: 20px;
	margin-top: 10px;
}

.cart-item:nth-child(odd) {
	background: #d9edf7;
}

.cart-item:nth-child(even) {
	background: rgba(245, 245, 245, 0.69);
}

.total {
	margin-top: 15px;
}

.actions {
	display: 	none;
}