a {
  text-decoration: none;
}

.center {
  margin: 0px auto;
}

.position-center {
  position: absolute;
  top: 40%;
  left: 40%;
}

.cart-indicator {
  position: absolute;
  background: #999;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 12px;
  padding: 6px;
  color: #fff;
  display: none;
}
.disabled {
  background:#acbad4 !important;
  pointer-events: none !important;
  color: #000 !important;
}

.view-product {
  color: #fff;
  background: #7175FF;
  padding: 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

.search-btn {
  color: #fff;
  background: #7175FF;
  padding: 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

.message {
  background: #808080;
  color: #fff;
}
.product-image {
	width: 150px;
	height: 150px;
	margin: 0px auto;
}

.tt-menu {
	width: 100%;
  background: #FFF;
}

.tag_list { padding-left: 0px;}
.tag {
	display: inline-block;
	list-style: none;
  background: #808080;
  padding: 3px;
  margin: 0px 3px;
  position: relative;
}
.tag-container h6 {
	padding: 0;
	margin: 0;
}
.x-tag {
    position: absolute;
    top: -9px;
    right: -3px;
    cursor: pointer;
    background: #fff;
    border-radius: 49px;
    border: 1px solid #000;
    display: inline-block;
    height: 18px;
    width: 18px;
    text-align: center;
}

.panel {
  width: 400px;
  height: auto;
}

.panel-header {
  background: #8F5E3B;
  border-radius: 8px 8px 0px 0px;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
}

.panel-body {
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.success_transaction {
  width: 600px;
  margin: 30px auto;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
}




/* =======================SKELETON================================= */
html,
body {
    height: 100%;
    padding:0;
    margin:0;
    margin-top: -8px;
    font-family: sans-serif;
}


.content-wrapper {
  background: #DD6E41;
    min-height: 100%;
    position: relative;
}
.content {
    padding-bottom: 100px;
    position: relative;
    z-index: 9;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
/*=================*/