.product-view {}
.product-view .product_view_btn {
	border: none;
  background: #7175ff;
  color: #fff;
  padding: 10px;
  height: 38px;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1;
  border-radius: 6px;
  cursor: pointer;
}
.product-view .product-container { 
	overflow: hidden;
	background: #fff;
  margin-top: 30px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
 }
.product-view .title { 
    text-align: center;
    /*color: #fff;*/
    text-transform: uppercase;
}
.product-view .left-panel {
	width: 500px;
	text-align: center;
	display: inline-block;
	float: left;
}
.product-view .right-panel {
	width: 500px;
	display: inline-block;
	float: left;
}

.product-view .image {
	width: 250px;
	height: 250px;
}